.idea
*.map
~*
*.~*
**/Gemfile.lock
**/*.war
**/node_modules
**/dist
**/dist-node
**/dist-esm
**/public
target
.tmp
*.tgz
.history
.vscode
.project
npm-debug.log
package-lock.json
/*-server/gems
**/oidc-token
*.iml
